:root {
    --Almost-White: hsl(0, 0%, 98%);
    --Medium-Gray: hsl(0, 0%, 41%);
    --Almost-Black: hsl(0, 0%, 8%);
}
html {
    scroll-behavior: smooth;
  }
  
  /* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  /* Main  */
body {
    background-color: var(--Almost-White);
    align-items: center;
    font-size: 18px;
    font-family: 'Epilogue', sans-serif;
  }

h1 {
    font-size: 55px;
    color: var(--Almost-Black);
    text-align: left;
}

p {
    color: var(--Medium-Gray);
    text-align: left;
    line-height: 1.7;
}

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: var(--Medium-Gray);
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    background: var(--Almost-White);
    z-index: 200;
    position: fixed;
    right: 25px;
    top: 0;
    padding: 35px 0;
    left: 25px;
    height: 50px;
    gap: 40px;
}

#menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.nav-menu .nav-items:last-child {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 10px;
}
.nav-items {
    margin-left: 25px;
}

.nav-items a:hover, .nav-items a:focus, .nav-items a:active{
    color: var(--Medium-Gray);
    font-weight: 600;
}

.navbar .logo img {
    display: block;
    width: 75px;
}
  
.navbar .logo {
    transition: all 0.3s ease-in-out;
}
  
.navbar .logo:hover {
    opacity: 1;
}
  
/* Hamburger menu */
.hamburger, .nav-close {
    display: none;
}
  
.nav-menu {
    display: flex;
    align-items: center;
}

.bar {
    display: block;
    width: 27px;
    height: 20px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
}

.arrow-down.active{
    rotate: 180deg;
}

.desplegable p{
    margin-right: 5px;
}
.desplegable a{
    display: flex;
    align-items: center;
    width: 100%;
}

.menu_desplegable{
    display: none;
    flex-direction: column;
}

.none1 {
    display: none !important;
}

.none2 {
    display: flex;
    align-items: center;
}

.none2 li:last-child {
    border: 1px solid;
    border-radius: 10px;
    padding: 8px 10px;
}

/* Dropdown */
.menu_features {
    position: absolute;
    width: 165px;
    top: 55px;
    left: 70px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 40px 5px rgba(0,0,0,.2);
}
.menu_features li {
    display: flex;
    padding: 4px 0; 
}

.menu_features li a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 16px;
}

.menu_features li a div {
    width: 20%;
}


.menu_features li a p {
    width: 80%;
}

.menu_features2 {
    position: absolute;
    width: 115px;
    top: 55px;
    left: 260px;
    background-color: #fff;
    padding: 20px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 40px 5px rgba(0,0,0,.2);
}

.menu_features2 li {
    padding-bottom: 10px;
    font-size: 16px;
}

/* Hero */
.wrapper {
    display: flex;
    margin: 100px auto;
    width: 80%;
    gap: 10%;
}

.sub-wrapper-1 {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

button {
    background-color: var(--Almost-Black);
    color: var(--Almost-White);
    width: 110px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 14px 1px;
}

button:hover, button:focus, button:active {
    color: var(--Almost-Black);
    background: var(--Off-white);
    border: 1px solid var(--Almost-Black);
}

.sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8%;
    width: 100%;
}

.sponsors div {
    width: 25%;
}

.sponsors div img{
    width: 100%;
    height: auto;
}

.sub-wrapper-2 {
    width: 50%;
    height: auto;
}
.sub-wrapper-2 img {
    width: 100%;
}

.sub-wrapper-3 {
    display: none;
}
@media (max-width: 800px) {

    body {
        overflow-x: hidden;
        margin: 10px 20px;
      }

    /* Navbar */
    .navbar {
        justify-content: space-between;
        right: 0;
        left: 0;
        background: var(--Almost-White);
        padding: 50px;
    }

    #menu {
        width: 30px;
        justify-content: flex-end;
    }

    .nav-menu {
      position: fixed;
      padding-top: 170px;
      right: -100%;
      top: 0;
      flex-direction: column;
      align-items: flex-start;
      width: 70%;
      height: 100%;
      text-align: left;
        background-color: var(--Almost-White);
        transition: 0.3s;
    }

      .body.active {
        background-color: rgba(0,0,0, 0.6);
      }

      .navbar.active {
        background-color: rgba(0,0,0, 0);
        position: relative;
      }
  
    .nav-menu .nav-items {
        text-align: center;
    }

    .nav-menu.active, .nav-menu-1.active {
      right: 0;
    }
  
    .nav-items {
      margin-bottom: 35px;
      font-size: 20px;
    }

    .nav-items:nth-child(7), .nav-items:nth-child(8) {
        margin: 0 auto;
        width: 85%;
      }

      .nav-menu .nav-items:last-child {
        margin-top: 35px;
        padding: 12px 10px;
    }
    
    .nav-close {
      position: fixed;
      width: 35px;
      height: 35px;
      display: block;
      top: 40px;
      right: -100%;
      transition: 0.3s;
    }
  
    .nav-close.active {
      right: 50px;
    }
  
    .close {
      display: block;    
      width: 25px;
      height: 25px;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }

    .none1 {
        display: block !important;
    }
    
    .none2 {
        display:  none !important;
    }

    /* Dropdown Menu */

    .menu_features, .menu_features2 {
        position: relative;
        margin-top: -30px;
        margin-bottom: 20px;
        padding: 0;
        width: auto;
        top: 0px;
        left: 40px;
        background-color: var(--Off-white);
        padding: 0 20px;
        box-shadow: none;
        border-radius: 10px;
    }
    .menu_features li {
        display: flex;
        padding: 4px 0;
        margin-top: 0rem; 
    }
    
    .menu_features li a {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 20px;
        font-size: 16px;
    }
    
    .menu_features li a div {
        width: 10%;
        height: 100%;
    }

    .menu_features img {
        width: 18px;
        height: 18px;
    }
    
    .menu_features li a p {
        width: 90%;
        text-align: left;
    }
    
    .menu_features2 li a p {
        padding-bottom: 1px;
        font-size: 16px;
        text-align: left;
    }
    
    /* Hero */
    .wrapper {
        flex-direction: column-reverse;
        width: 95%;
    }
    .wrapper {
        gap: 50px;
    }
    
    .sub-wrapper-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    
    h1 {
        font-size: 35px;
        text-align: center;
    }

    br {
        display: none;
    }

    p {
        text-align: center;
        line-height: 1.6;
    }

    button {
        margin: auto;
    }

    .sub-wrapper-3 {
        display: block;
        width: 100%;
        height: auto;
    }
    .sub-wrapper-3 img {
        width: 100%;
    }
    
    .sub-wrapper-2 {
        display: none;
    }
  }
